body {
	background-color: #333;
	font-size: 16px;
	margin: 0;
	padding: 0;
	font-family: arial;
}

#header {
	padding-top: 8px;
	background-color: #333;
	height: 150px;
	padding-left: 10px;
}

#left {
	float: left;
	width: 185px;
	background-color: #dc8;
	padding-left: 15px;
	min-height: 650px; /* for modern browsers */
	height: auto !important; /* for modern browsers */
	height: 650px; /* for IE5.x and IE6 */
}

#center {
	margin-left: 200px;
	background-color: #eec;
	font-family: arial;
	padding-left: 12px;
	padding-top: 12px;
	min-height: 638px; /* for modern browsers */
	height: auto !important; /* for modern browsers */
	height: 638px; /* for IE5.x and IE6 */
}

#footer {
	padding-top: -12px;
	clear: both;
	background-color: #333;
	height: 100px;
}

h1 {
	padding-top: 10px;
	color: #dc8;
	font-family: arial;
}

h2 {
	margin-top: 0px;
	font-family: arial;
	font-color: #dc8;
}

h3 {
	font-family: arial;
	font-color: #dc8;
	margin-top: -20px;
}

a:link {
	color: #333;
}

a:visited {
	color: #333;
}

a:hover {
	color: #ed8;
}

a:active {
	color: #ed8;
}

#textinput_small {
	width: 161px;
}

.login {
	padding-top: 15px;
	font-family: arial;
}
/*
* Forms General
*/
.appTable {
	width: 99%;
	border: 1px;
	border-style: solid;
	border-color: black;
	border-collapse: collapse;
}

.appTable td,tr,th {
	border: 1px;
	border-style: solid;
	padding: 5px;
}

.appTable td {
	vertical-align: top;
}

.appTable thead,tbody {
	text-align: left;
}

.time {
	width: 120px;
}

.title {
	width: 240px;
}

.type {
	min-width: 45px;
	width: 138px;
}

.remove {
	width: 65px;
	vertical-align: middle;
	text-align: center;
}

/*
* New Appointment Form
*/
#appForm {
	width: 600px;
}

#textinput,#datepicker1,#datepicker2 {
	width: 304px;
}

#item {
	border-style: solid;
	border: 1px;
	margin-bottom: 15px;
	font-family: arial;
}

#itemHeader {
	padding-left: 2px;
}

#alloctype {
	width: 304px;
}

input[type="text"],input[type="password"],select,textarea {
	background-color: #dc8;
}

input[type="checkbox"] {
	-fx-background-color: red;
}

input[type="submit"] {
	background-color: #333px;
}

#desc {
	float: left;
	width: 111px;
}

/* 
*New User Form
*/
#desc2 {
	float: left;
	width: 150px;
}

#desc3 {
	float: left;
	width: 147px;
	border:1px;
	border-style:solid;
	border-color:#eec;
}

#appForm2 {
	width: 550px;
}

/* 
*Buttons
*/
.b1 {
	background-color: #ededed;
	border: 1px solid #dcdcdc;
	display: inline-block;
	color: #333;
	font-family: arial;
	font-size: 13px;
	font-weight: bold;
	padding: 2px 10px;
	text-decoration: none;
	width: 165px;
}

.b1:hover {
	background-color: #dfdfdf;
}

.b1:active {
	position: relative;
	top: 1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */

/*
*
*/