<%@ page language="java" contentType="text/html; charset=ISO-8859-1" pageEncoding="ISO-8859-1"%>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<%@page import="java.text.DateFormat"%>
<%@page import="entities.Appointment"%>



<h3>
	Today Appointments (<%=day%>.<%=month%>.<%=year%>):
</h3>
<table class="appTable">
	<tr>
		<th class="title">Title</th>
		<th class="time">Start</th>
		<th class="time">End</th>
		<th class="type">Type</th>
		<th class="notes">Notes</th>
		<th class="remove">Actions</th>
	</tr>
	<%
		for (Appointment todayAppointment : todayAppointments) {
	%>
	<tr>
		<td><%=todayAppointment.getTitle()%></td>
		<td><%=DateFormat.getInstance().format(todayAppointment.getStartDate())%></td>
		<td><%=DateFormat.getInstance().format(todayAppointment.getEndDate())%></td>
		<td class="type"><%=todayAppointment.getType().toString()%></td>
		<td><%=todayAppointment.getNotes()%></td>
		<td class="remove">
			<a href="/Web/DeleteAppointment?appointmentId=<%=todayAppointment.getId()%>"> 
				<img border="0" src="img/edit-delete-6.png">
			</a>
		</td>
	</tr>

	<%
		}
	%>


</table>